@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #ededed;
		--foreground: #0a0a0a;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 10px;
	height: 14px;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-left: 1px solid #000000;
}
::-webkit-scrollbar-thumb {
	background: #aaaaaa;
	border: 1px solid #000000;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaaaaa;
}
::-webkit-scrollbar-corner {
	background: #000000;
}
