@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #ededed;
		--foreground: #0a0a0a;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 10px;
	height: 14px;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-left: 1px solid #000000;
}
::-webkit-scrollbar-thumb {
	background: #aaaaaa;
	border: 1px solid #000000;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaaaaa;
}
::-webkit-scrollbar-corner {
	background: #000000;
}

@keyframes warp-horiz {
	0% {
		transform: translateX(0);
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		transform: translateX(-150vw);
		opacity: 0;
	}
}
@keyframes vibrate {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-0.5px, 0.5px);
	}
	75% {
		transform: translate(0.5px, -0.5px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes flame-stretch {
	0%,
	100% {
		transform: scaleX(1);
		opacity: 0.8;
	}
	50% {
		transform: scaleX(1.4);
		opacity: 1;
	}
}
@keyframes flame-flicker {
	0%,
	100% {
		transform: scaleX(1);
		opacity: 0.4;
	}
	50% {
		transform: scaleX(1.2);
		opacity: 0.6;
	}
}
.animate-warp-horiz {
	animation: warp-horiz linear infinite;
}
.animate-vibrate {
	animation: vibrate 0.06s linear infinite;
}
.animate-flame-fast {
	animation: flame-stretch 0.1s ease-in-out infinite;
	transform-origin: right;
}
.animate-flame-slow {
	animation: flame-flicker 0.15s ease-in-out infinite;
	transform-origin: right;
}
